<div class="ri">
  <%= image_tag("splash-ri2.jpg", class: "img_top") %>
  
  <div class="hcol_lt">
    <h2 class="ff_title fc_2"> Rhode Island </h2>
    <div class="img_sq">
      <%= image_tag("holder480x480.jpg", class: "img_sq") %>
      <p> Interactive Map of Rhode Island </p>

    </div>
  </div>

  <div class="hcol_rt">
    <div class="photo_sm">
    </div>
  </div>
</div>    
