<div class="ri">
  <%= image_tag("splash-ri2.jpg", class: "img_top") %>

    <h2 class="ff_title fc_2"> ~ Rhode Island ~ </h2>
  
  <div class="hcol_lt">
    <div class="map_wrapper">
      <%= image_tag("ri-map.png") %>
    </div>
  </div>

  <div class="hcol_rt">
 
    <div class="content_wrapper">
      <img id="ri_content_img" src=<%= image_path("ri-narragansett.jpg") %> > </img>
      <p id="ri_content_title"> Narragansett </p>
      <p id="ri_content"> With four of the state's most popular beaches, Narragansett is our recommended location to stay in Southern Rhode Island. Once a wealthy community rivaling nearby Newport, the history of Narragansett is still visible. The Towers, spanning Ocean Drive, is the only remaining section of a luxurious casino built in 1883. Having survived numerous fires and vicious nor'easters, The Towers is the town's most enduring landmark.  Don't miss: Iggy's Clamcakes and Chowder.  </p>
    </div>

  </div>
</div>    
