<div id="login_container">
  
  <div id="login_form">
    <%= form_tag('/login', method: 'post') do %>
      <%= text_field_tag(:login, nil, placeholder: 'invite key or login', autofocus: 'true') %>
      <%= submit_tag("Login", id: "login_button") %>
    <% end %>
  </div>

</div>

