<div id="blog_display_wrapper">
  <div id="blog_display_title_wrapper">
    <%= fa_stacked_icon "pencil", base: "check-empty", class:"fc_1 icon-2x" %>
    <p id="blog_display_title">Title</p>
    <p id="blog_display_date">Date</p>
  </div>
  <div id="blog_display_content_wrapper">
    <%= image_tag('image-blank.png', id: "blog_display_image") %>
    <div id="blog_display_body_wrapper">
      <p id="blog_display_body">Body</p>
      <p id="blog_display_poster">FL</p> 
    </div>
  </div>
</div>
