<div id="blog_display_wrapper">
  <div id="blog_display_title_wrapper">
    <%= fa_icon("pencil-square-o") %>  
    <span id="blog_display_title">Title</span>
    <span id="blog_display_date">Date</span>
  </div>
  <div id="blog_display_content_wrapper">
    <%= image_tag('image-blank.png', id: "blog_display_image") %>
    <div id="blog_display_body_wrapper">
      <p id="blog_display_body">Body</p>
      <p id="blog_display_poster">FL</p> 
    </div>
  </div>
</div>
