<div class="wrapper default_width">
  <%= render "shared/header" %>
  <%= render "shared/nav" %>
  <div class="content">
    <div class="slideshow">
      <%= image_tag("home-1.jpg") %>
    </div>
    <div class="blog_peek">
      fdf </br>
      fdf </br>
      fdf </br>
    </div>
    <div class="photos_peek">
      fdf </br>
      fdf </br>
      fdf </br>
    </div>    
  </div>
  <div class="footer_push"> </div>
</div>  

<%= render "shared/footer" %>
