
<%= image_tag("home-1.jpg", class: "img_top") %>
<p> Here's some paragraph text saying hello to visitors. Rhode Island magical vacation wonderland etc. etc.  </p>
<div class="hcol left">
  <h2> Latest from the Bride </h2>
  <p> Here's some paragraph text introducing this section </p>
  <p> Here's some paragraph text introducing this section </p>
  <p> Here's some paragraph text introducing this section </p>
  <p> Here's some paragraph text introducing this section </p>
  <p> Here's some paragraph text introducing this section </p>

</div>
<div class="hcol right">
  <h2> Uploaded Photos </h2>
  <p> Here's some paragraph text introducing this section </p>
  <p> Here's some paragraph text introducing this section </p>
  <p> Here's some paragraph text introducing this section </p>
  <p> Here's some paragraph text introducing this section </p>
  <p> Here's some paragraph text introducing this section </p>
  <p> Here's some paragraph text introducing this section </p>
  <p> Here's some paragraph text introducing this section </p>
  <p> Here's some paragraph text introducing this section </p>

</div>    
