<div class="home">
  <%= image_tag("home-1.jpg", class: "img_top") %>
  
  <div class="hcol_lt">
    <h2 class="ff_title fc_2"> Latest from the Bride </h2>
    <div class="blog_sm">
      <%= image_tag("holder480x480.jpg", class: "img_sq") %>
      <p> A year away and we already have an awesome website! Kenny is the best fiance ever!!! </p>

    </div>
  </div>

  <div class="hcol_rt">
    <h2 class="ff_title fc_2"> Uploaded Photos </h2>
    <div class="photo_sm">
      <%= image_tag("holder480x480.jpg", class: "img_sq") %>
      <p> Surf and Turf ala West Bay Catering. Nom nom. </p>
    </div>
  </div>
</div>    
