<div id="photo_display_wrapper">
  <div id="title_display_wrapper">
    <i class="icon-camera fc_1"></i>
    <span id="photo_display_poster">Poster</span>
    <span id="photo_display_time">Date</span>
  </div>
  <div id="image_display_wrapper">
    <%= image_tag('image-blank.png', id: "photo_display_image") %>
    <div id="content_display_wrapper">
      <p id="photo_display_info" class="right">Info</p>
      <p id="photo_display_caption" class="clear">Caption</p>
    </div>
  </div>
</div>
