<div class="photo_wrapper">
  <div class="image_wrapper">
    <%= image_tag(photo.pic.url(:medium)) %>
  </div>
  <div class="content_wrapper">
    <p class="photo_caption"> <%= photo.caption %> </p>
    <p class="photo_poster"> posted by <%=photo.poster.firstname+" "+photo.poster.lastname.first%>. </p>
  </div>
</div>








