<div class="photos">
  <%= image_tag("splash-photos.jpg", class:"img_top") %>
  <h2 class="ff_title fc_2"> ~ Photos ~ </h2>

</div>

<%= link_to 'Upload a New Photo', new_photo_path, class: "button"%>