div.blogs {

.blog_wrapper {
  width:365px;
  margin: 10px 0px 15px 0px;
  //border: white 10px solid;
  border-bottom: 10px;
  background: white;
  //box-shadow: 0px 0px 5px 2px rgba(#99B3B7, .4);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, .4);
  
  .image_wrapper{
      position:relative;
      width: 365px;
      
    &:after {
      content: '';
      border: rgba(255,255,255,.10) 1px solid;
      position:absolute;
      top:1px; left:1px;
      bottom: 1px; right:1px;
    }
    img {
      display: block;
      width:100%;
    }

  }
  
  .blog_title {text-align:left; }
  .blog_date {float:right; }
  .blog_body {margin-top:0px; margin-left:10px; margin-right:10px;}
  .blog_signature {text-align:right; margin-top:-5px; }
}

}