/*----------------------------------------------------------------------------- 
Moonrise Kingdom Site Defaults Stylesheet 
version:   1.0 
date:      06/06/13 
author:    Kenny Duong 
email:     keduong@gmail.com 
-----------------------------------------------------------------------------*/

/* Remove padding and margin from everything */ 
* { 
  margin: 0; 
  border: 0; 
  padding: 0; 
}

/* Size html and body containers to full height */
html,body { width:100%; height:100%;  }

/* Classes for floating things */
.clear { clear:both; } 
.right { float: right; } 
.left { float: left; }
.hcol { width:480px; padding:10px;}

/* Links and Buttons*/
a  { text-decoration:none; }
a.admin:link    {color:blue; }
a.admin:visited {color:blue; }
a.button, input[type='submit'] { 
  border: 1px solid white; padding: 3px 10px; font: 20px 'Ostrich'; 
  color: white; background: #7D6E8B;
}
a.button:hover, input[type='submit']:hover { 
  color: #7D6E8B; border-color: #7D6E8B; background: white;
}
        
/* Inputs */


/* Tables */
table {
  color:white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-spacing: 0;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th,td { font:20px 'Ostrich-Black'; padding:5px; background: #7D6E8B; 
  border-left: 1px solid white; border-right: 1px solid white;
}

td { font-family: 'Ostrich'; background: #99b3b7;}


/* Font sizes */
h1 { font-size: 60px;  }
h2 { font-size: 40px; color: #99b3b7; font-family:'Thirsty'; text-shadow: 2px 2px white; margin-top: 10px;} 
h3 { font-size: 30px; }
h4 { font-size: 20px; }
p  { font-size: 15px; color:black; font-family:'calligraffiti-webfont' }

/* Body */
body {
  font: 10px 'Verdana'; 
  background-color: #000000; 
  color: white;     
  text-align:center;

  #bg { 
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:-1;   
  }  

  .default_width {
    width:1000px;
    margin-left:auto;
    margin-right:auto;
  }

  .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -52px; 

    .header {
      padding:10px;
      #title {
        a {text-shadow: 2px 2px white};
        a:link { color: #7D6E8B; }
        a:visited { color: #7D6E8B; }
        clear:both;
        font: 60px 'Thirsty';
      }
      #user_actions {
        display:inline;
      }
    }

    .content {  
      background: white; background: rgba(255, 255, 255, 0.4);
      padding-bottom: 50px;
      overflow:auto;
      .img_top{
        width: 980px;
        height: 480px;
        border: 10px solid white;
        overflow:hidden;
        img{ width:100%; }
      }
      .spacer {
        height:50px;
    }

    }

    .footer_push {
      height:52px;
    }

  }

  .nav {
    background: white; background: rgba(255, 255, 255, 0.4); 
    padding: 5px;
    font: 20px 'Ostrich-Black';
    li { display:inline; }
    a{ margin: 0px 20px; padding:5px; }
    a:link{ color:#7D6E8B; } a:visited{ color:#7D6E8B;} a:hover{ color:white; background:#99b3b7;}
  }

  .footer { 
    height:52px;
    position:relative;
    span {font: 15px 'calligraffiti-webfont'; position:absolute; bottom:0px; width: 500px; left:50%; margin-left:-250px;};
  }

  .admin_form {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background: #DDDDDD;
    border: 5px solid #7D6E8B;
    font: 15px 'calligraffiti-webfont'; color: black;
    .field {
      text-align:left;
      margin-top: 5px; 
      margin-bottom: 5px;
    }
  }

  #alert { color:red; position:absolute; top:0px; left:50%; width:50%; margin-left:-25% }
  #notice { color:green; position:absolute; top:0px; left:50%; width:50%; margin-left:-25% }

}


