/*----------------------------------------------------------------------------- 
Moonrise Kingdom Site Defaults Stylesheet 
version:   1.0 
date:      06/06/13 
author:    Kenny Duong 
email:     keduong@gmail.com 
-----------------------------------------------------------------------------*/

/* Remove padding and margin from everything */ 
*, *:before, *:after  { 
  margin: 0; border: 0; padding: 0; 
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* Size html and body containers to full height */
html,body { width:100%; height:100%;  }

/* Overlay for js popups */
div[id*='overlay_']{
    background-color:rgba(0, 0, 0, 0.5);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    overflow:scroll;
    display:none;
}

/* Classes for floating things */
.clear { clear:both; } 
.right { float: right; } 
.left  { float: left; }
.upper { text-transform: uppercase; font-weight:1000;}
.lefta { position:absolute; left:0;}

.default_width { width:800px; margin-left:auto; margin-right:auto; }
.full_width {width:100%;}
.hcol_lt { width:400px; padding: 10px 10px 10px 20px; float:left; }
.hcol_rt { width:400px; padding: 10px 20px 10px 10px; float:right; }

.tcol_lt  { width:250px; padding: 10px  0px 10px 12px; float:left; }
.tcol_mid { width:250px; padding: 10px 13px 10px 13px; float:left; }
.tcol_rt  { width:250px; padding: 10px 12px 10px  0px; float:left; }

.ttcol_lt { width:440px; padding: 10px 10px 10px 20px; float:left; }
.ttcol_rt { width:300px; padding: 10px 20px 10px 10px; float:right; }

/* Fonts */
.ff_title           { font-family: 'Thirsty Rough'; }
.ff_nav             { font-family: 'Pathway Gothic One'}
.ff_read,p,td,th    { font-family: 'Proxima Nova'}
.ff_cursive         { font-family: 'Cedarville Cursive'}

/* Font colors */
.fc_1, a:link.fc_1, a:visited.fc_1 {color: #7D6E8B;}
.fc_2, a:link.fc_2, a:visited.fc_2 {color: #99B3B7;}
.fc_3, a:link.fc_3, a:visited.fc_3 {color: white;}

/* Font sizes */
h1 { font-size: 60px; font-weight:normal; text-shadow: 0 1px #fffaec} // text-shadow: 3px 0px #99B3B7; }
h2 { font-size: 40px; font-weight:normal; } 
h3 { font-size: 30px; font-weight:normal; } //text-shadow: 2px 2px white; }
h4 { font-size: 20px; font-weight:normal; }
td { font-size: 20px;  }
th { font-size: 20px;  }
li { font-size: 20px;  }
p  { font-size: 16px; text-align:justify; }

/* Links, List, and Buttons*/
a  { text-decoration:none; }
a:link    {color: #800080; }
a:visited {color: #800080; }
li { list-style-type:none; }

/* Tables */
table {
  color:white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 10px auto;
}

th,td { 
  padding:5px; background: #7D6E8B; 
  font: 20px 'Pathway Gothic One';
  text-align:center;
  border-left: 1px solid white; border-right: 1px solid white;
}

td { font: 15px 'Pathway Gothic One'; text-align:left; background: #99b3b7;}

/* Body */

body {
  background-color: white; 
  color: black;     
  text-align:center;
  h2 { margin-top:20px;}
  #bg { 
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:-1;   
  }  
  .wrapper { min-height: 100%; height: auto !important; height: 100%; margin-bottom: -60px;
             box-shadow:  0px 3px 14px rgba(0, 0, 0, 0.3)}
  .header { padding:10px; }
  .nav {
    background: white; background: rgba(255, 255, 255, 0.3); 
    padding: 5px 0px;
    li { display:inline;}
    a { margin: 0; padding:5px 20px;}
    a:link, a:visited {color: #7D6E8B}
    a:hover { color:white; background:#99b3b7;}
  }

  .content {  
    background: white; background: rgba(255, 255, 255, 0.5);
    padding-bottom: 50px;
    overflow:auto;

    .img_top{
      width: 800px;
      height: 400px;
    }

    .spacer { height:50px; }
    .thumb { width:100px; height:100px; background: black ; position:relative;
      img {
        position:absolute;
        margin: auto; top:0; right:0; bottom:0; left:0; 
      }}
  }

  .footer_push { height:60px; }

  .footer { height:60px; position:relative;
    span {position:absolute; bottom:0px; width: 500px; left:50%; margin-left:-250px;};
  }

  #alert { color:red; position:absolute; top:0px; left:50%; width:50%; margin-left:-25%; text-align:center }
  #notice { color:green; position:absolute; top:0px; left:50%; width:50%; margin-left:-25%; text-align:center }
  #error_explanation {text-align:left; color:red; p {color:red;} ul {list-style-type:none; text-indent:10px;} li {font-size:15px;}}
}
