/* Extra fonts */
@font-face {
  font-family: 'Thirsty';
  src:font-url('ThirstyLight.eot');
  src:font-url('ThirstyLight.eot?#iefix') format('embedded-opentype'),
      font-url('ThirstyLight.svg#ThirstyLight') format('svg'),
      font-url('ThirstyLight.woff') format('woff'),
      font-url('ThirstyLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro';
  src:font-url('MPro.eot');
  src:font-url('MPro.eot?#iefix') format('embedded-opentype'),
      font-url('MPro.svg#MPro') format('svg'),
      font-url('MPro.woff') format('woff'),
      font-url('MPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
