div#overlay_photo_display {
  background-color:rgba(255, 255, 255, 0.9);

  #photo_display_wrapper{ 
    background:white;
    width:660px;
    margin: 20px auto;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .4);
    //padding-bottom:20px;
    
    #title_display_wrapper{
      text-align: left;
      i{font-size: 50px; margin-right:5px;}
      #photo_display_poster{font: bold 25px 'Proxima Nova'; margin-right:5px;}
      #photo_display_time{font: 14px 'Proxima Nova'; color: #aaaaaa;}
      padding:20px 30px;
      border-bottom: 1px solid #bbbbbb;
    }
    #image_display_wrapper{
      padding: 20px 30px;
      width:100%;
      img { width:100%;}  
      border-bottom: 1px solid #bbbbbb;
    }
    #content_display_wrapper{
      //padding-top: 20px;
      #photo_display_caption{font: 20px 'Proxima Nova';}
      #photo_display_info{font: 14px 'Proxima Nova'; color: #aaaaaa; }
    }
  }
}

div.photos {
.photos_header { line-height:50px; }
.photo_button_wrapper {
  margin: 0px 12px; 
  padding: 25px 0px;
  p { padding: 10px 24px; text-align: justify;  }
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.photo_wrapper { 
  border-radius: 3px 3px 0px 0px;
  width: 100%;
  margin: 10px 0px 15px 0px;
  background: white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, .4);
  .image_wrapper{
    position:relative;
    width: 100%;
    border-radius: inherit;
    cursor: pointer;
    &:after {
      content: '';
      border: rgba(255,255,255,.15) 1px solid;
      border-radius: inherit;
      background: rgba(255,255,255,.12);
      position:absolute;
      top:1px; left:1px;
      bottom: 1px; right:1px;
    }
    img {
      border-radius: inherit;
      display: block;
      width:100%;
    }
  }
  .content_wrapper{
    position:relative;
    padding:6px;
    background-image: image_url("whitey.png");    
    
    .photo_caption{
      font-size: 14px;
    }
    .photo_poster{
      color: gray;
      text-align: left;
      font-size: 12px;
    }
    .photo_changer{
      color: #999999;
      font-size: 12px;
      float:right;
      margin-left:5px;
      &:hover {
        color: black;
      }
    }
  }
}
}