div.ri {

  .banner_lrg {
    margin-left:auto; margin-right:auto;
  }

  .ri_wrapper {
    padding-left: 1px;
    .ri_wrapper_box {
      width: 266px; height: 480px;
      position: relative;
      float:left;
      display:inline-block;
      background-color: white; //box-shadow: 0px 1px 4px rgba(0, 0, 0, .4);   

      .ri_img_wrapper {
        width:100%; 
        img { width:100%;}
      }
      .ri_title_wrapper {font-size: 15px; padding: 10px; padding-bottom: 0px; color: #99B3B7; font-weight: bold;}
      .ri_text_wrapper {font-size: 12px; padding: 0 20px 10px 10px;}
      .ri_footer_wrapper {font-size: 12px; padding: 0 20px 15px 10px; position:absolute; bottom: 0px;}

    }
  }
}

