div.ri {
  .map_wrapper {
    position:relative;
    img {
      //border: 1px black solid;
      display: block;
      height:550px;
      width:370px;
    }
    div[id*='ri_poi'] {
      font-size:20px;
      color: #7D6E8B;
      text-shadow: white 0px 0px 5px;
      position:absolute;
    }
    #ri_poi_narragansett{
      bottom:175px;
      left:200px;
    }
     #ri_poi_blockisland{
      bottom:50px;
      left:150px;
    }
    #ri_poi_minkmeadow{
      bottom:170px;
      left:160px;
    }
    #ri_poi_providence{
      bottom:415px;
      left:210px;
    }
    #ri_poi_fireworks{
      bottom:180px;
      left:180px;
    }
    #ri_poi_galilee{
      bottom:130px;
      left:180px;
    }
    #ri_poi_wickford{
      bottom:265px;
      left:175px;
    }
    #ri_poi_newport{
      bottom:205px;
      left:265px;
    }
    #ri_poi_airport{
      bottom:350px;
      left:200px;
    }
    #ri_poi_ny{
      bottom:135px;
      left:50px;
    }
    #ri_poi_boston{
      bottom:505px;
      left:150px;
    }
    #ri_poi_capecod{
      bottom:495px;
      left:210px;
    }

  }

  .content_wrapper {
    background:white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .4);
    padding-bottom: 20px;
    img#ri_content_img {
      //border: 1px black solid;
      display: block;
      width:100%;
    }
    p#ri_content_title {
      margin: 10px;

    }
    p#ri_content {
      text-indent: 20px;
      margin: 10px;
      font-size:14px
    }
  }

}
