// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login_container {
  position:absolute;
  z-index:0; left:0; top:0;
  width:100%; height:100%;
  background:url("/assets/front.jpg") no-repeat;
  background-size: auto 100%;

  #login_form {
    float:right;
    clear:both;
    margin:10px; 
  }

  #login_button {
    display:none;
  }

  #login_text {
    font-family:"Cookie";
    text-align: center;
    //color: #ffff00; (yellow)
    color: #ffffff;
    
    h1 {
      font-size:500%;
      margin-top:10%;
      padding-top:0;
      border-top:0;
    }
 
    h2 {
      font-size:300%;
    }
    h3 {
      font-size:200%;
    }
  }

  #alert,#notice {
    float:right;
  }
}

