#sessions_wrapper {
  width:100%; 
  height:100%;
  background: image-url("front-full.jpg") no-repeat;
  background-size: cover;
  
  #login_form {
    float:right;
    clear:both;
    margin:10px; 
    
    #login_button {
      display:none;
    }
  }

  #login_text {
    clear: both;
    padding: 30px;
    h1 {
      font-family: "Thirsty";
      color: #99b3b7;   
      text-shadow: 3px 3px white;
    }
    h2 {
      font-family: "Thirsty";
      color: #99b3b7;   
      text-shadow: 3px 3px white;
    }
    h3{
      margin: 15px;
      font-family: "Thirsty";
      color: #99b3b7;   
      text-shadow: 2px 2px white;
    }
  }
}

