<div class="registry">
  <%= image_tag("splash-registry.jpg", class: "img_top") %>
  <%= image_tag("banner-registry.png", class:"banner_lrg") %>

  <div class="registry_text_wrapper">
    <p> Your presence at our wedding is the only gift we need. However, if you wish to honor us with a gift, we've registered at a few places to help give you some ideas. </p>
    <p class="registry_signoff"> Love,</p>
    <p class="registry_signature"> Kenny and Lauren </p>
  </div>

  <div class="registry_links_wrapper">
    <div>
      <a href="http://www.crateandbarrel.com/Gift-Registry/Lauren-Jones-and-Kenny-Duong/r5071609"><%=image_tag("registry-crateandbarrel.jpg")%></a>
    </div>
    <div>
      <a href="http://www.amazon.com/registry/wedding/U72PFD606ZIZ"><%=image_tag("registry-amazon.jpg")%></a>
    </div>
  </div>
</div>