<%= image_tag("holder.jpg", class:"img_top") %>

<h2>Weekend Schedule</h2>
<p> Here's some paragraph text about the details that are on this page. </p> </br>
<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Description</th>
  </tr>

  <% @details.each do |detail| %>
    <tr>
      <td><%= detail.when.strftime("%a %m/%d/%y") %></td>
      <td><%= detail.when.strftime("%l:%M%P") %></td>
      <td><%= detail.description %></td>
    </tr>
  <% end %>
</table>
<h2>Where to Stay</h2>
<p> Here's some paragraph text about the details that are on this page. </p> </br>
<h2>Things to See</h2>
<p> Here's some paragraph text about the details that are on this page. </p> </br>

