<div class="details">

  <%= image_tag("splash-details.jpg", class:"img_top") %>
  <div class="hcol_lt">
  </div>
  <div class="hcol_rt">    
    <h2 class="ff_title fc_2">Where to Stay</h2>
  </div>
</div>